html {
    display: grid;
    height: 100dvh;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-shadow: 0 0 .1em #000,0 0 .1em #000,0 0 .1em #000;
}
body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 28rem;
    margin: auto;
    align-items: center;
    padding: 1.5rem;
    background-image:
            linear-gradient(to bottom right, red, transparent),
            linear-gradient(to bottom left, blue, transparent),
            linear-gradient(to top right, green, transparent),
            linear-gradient(to top left, yellow, transparent);
    background-blend-mode: screen;
    color: white;
}
#blocks {
    display: flex;
    gap: 20px;
    .color-block {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid white;
        box-shadow: 0 0 1px #000,0 0 1px #000,0 0 1px #000;
    }
}
#rgb-color {
    font-size: 3rem;
}
* {
    margin: 0;
}
button {
    font: inherit;
    color: inherit;
    text-shadow: inherit;
    background-color: rgb(0,0,0,20%);
    padding: 0.5rem 1rem;
}